[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "agridat"]
	path = agridat
	url = https://github.com/kwstat/agridat
	shallow = true
	registered = true
[submodule "corrgram"]
	path = corrgram
	url = https://github.com/kwstat/corrgram
	shallow = true
	registered = true
[submodule "gge"]
	path = gge
	url = https://github.com/kwstat/gge
	shallow = true
	registered = true
[submodule "hopkins"]
	path = hopkins
	url = https://github.com/kwstat/hopkins
	shallow = true
	registered = true
[submodule "mountainplot"]
	path = mountainplot
	url = https://github.com/kwstat/mountainplot
	shallow = true
	registered = true
[submodule "nipals"]
	path = nipals
	url = https://github.com/kwstat/nipals
	shallow = true
	registered = true
[submodule "pagenum"]
	path = pagenum
	url = https://github.com/kwstat/pagenum
	shallow = true
	registered = true
[submodule "pals"]
	path = pals
	url = https://github.com/kwstat/pals
	shallow = true
	registered = true
